<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h2>New mongoose</h2>
	<form action='/mongooses' method='post'>
		Name: <input type="text" name="name"><br>
		Family: <input type='text' name="family"><br>
		Habitat: <input type='text' name="habitat"><br>
		<input type='submit'>
	</form>
</body>

</html>